header{
    padding-top: 30px;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
    @include max-screen(1024px){
        padding: 0 20px;
    }
    @include max-screen(440px){
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 0 15px;
        margin-bottom: 15px;
    }
}
.logo{
    margin-bottom: 17px;
    @include max-screen(440px){
        margin-bottom: 0;
    }
}
.list__ul{
    display: flex;
    gap: 50px;
    list-style: none;
    @include max-screen(440px){
        gap: 25px;
        width: 100%;
    }
    @include max-screen(320px){
        gap: 15px;
    }

}
.list{
    ul{
        li{
            &::after{
                content: "";
                display: block;
                width: 0;
                height: 3px;
                background-color: $primary-color;
                margin-top: 22px;
                transition: 0.4s; 
                @include max-screen(440px){
                    margin-top: 5px;
                }
            }
            &:hover{
                &::after{
                    width: 100%;
                }
                .menu{
                    font-weight: bold;
                }
            }
            ul{
                li{
                    &::after{
                        display: none;
                    }
                    a{
                      font: {
                          weight: $f-weight-regular;
                          size: $f-size-base;
                      }
                      color: $text-color; 
                      text-decoration: none;
                      font-family: $main-font;
                      line-height: 30px;
                    }
                }
            }
        }
    }
}
.menu,
.priming_submenu{
    font: {
        weight: $f-weight-regular;
        size: $f-size-base;
        family: $main-font;
    }
    color: $text-color; 
    text-decoration: none; 
    line-height: 30px;
}
.dropdown{
    position: relative;
    margin-bottom: -80px;
    @include max-screen(440px){
        margin-bottom: -75px;
    }
    &:hover{
        .submenu{
            display: block;
        }
    }
}
.submenu{
    position: absolute;
    left: -55px;
    top: 79px;
    min-width: 188px;
    list-style: none;
    display: none;
    z-index: 99;
    @include max-screen(440px){
        position: static;
        display: none;
        margin-top: 5px;
        background-color: $dropdown-bd-color;
        border-radius: 6px;
        min-width: 120px;
    }
    li{
        background-color: $dropdown-bd-color;
        padding: 7px 14px;
        transition: 0.3s;
        &:hover{
            background-color: $primary-hover;
            .drop_menu{
                color: $white;
                font-weight: bold;
            }
        }
    }
}
.dropdown_priming{
    position: relative;
    &:hover{
        .arrow-first{
            display: none;
        }
        .arrow-hover{
            display: block;
        }
        .submenu_second{
            display: block;
        }
    }
}
.arrows{
    width: 13px;
    height: 13px;
    position: absolute;
    right: 15px;
    top: 16px; 
    @include max-screen(440px){
        display: none;
    }
}  
.arrow-hover{
    display: none;
}
.submenu_second{
    position: absolute;
    top: -132px;
    left: 100%;
    min-width: 188px;
    display: none;
    z-index: 100;
    list-style: none;
    @include max-screen(440px){
        position: static;
        display: none;
        background-color: $dropdown-bd-color;
        min-width: inherit;
    }
    li{
        background-color: $dropdown-bd-color;
        padding: 7px 14px;
        &:hover{
            background-color: $primary-hover;
            a{
                color: $white;
                font-weight: bold;
            }
        }
    }
} 
.login{
    display: inline-flex;
    align-items: center;  
    gap: 4px;
    border-radius: 5px;
    font: {
        weight: $f-weight-medium;
        size: $f-size-base;
        family: $main-font;
    }
    line-height: 123%;
    text-align: center;
    color: $white; 
    background-color: $primary-color;
    padding: 8px 17px;
    text-decoration: none;
    margin-bottom: 18px;
}