.our__blog_title{
    font: {
        family: $main-font;
        size: 30px;
        weight: $f-weight-bold;
      }
    line-height: 53%;
    text-align: center;
    color: $text-color;
}
.our__blog_text{
    font: {
        family: $main-font;
        size: $f-size-reg;
        weight: $f-weight-regular;
      }
    line-height: 171%;
    text-align: center;
    color: $muted-text-color;
    margin: 15px 0 35px;
    @include max-screen(440px){
        padding: 0 10px;
    }
}
.article__blogs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
    margin-bottom: 30px;
    @include max-screen(1024px){
        flex-wrap: wrap;
        justify-content: center;
    }
}
.article{
    max-width: 268px;
    background-color: $bg-color;
    padding-bottom: 12px;
    span{
        font: {
            family: $main-font;
            size: $f-size-reg;
            weight: $f-weight-medium;
          }
        line-height: 114%;
        color: $primary-color;
        padding-left: 15px;
    }
    h2{
        font: {
            family: $main-font;
            size: 20px;
            weight: $f-weight-bold;
          }
        line-height: 130%;
        color: $text-color;
        padding-left: 15px;
    }
    p{
        font: {
            family: $main-font;
            size: $f-size-reg;
            weight: $f-weight-regular;
          }
        line-height: 157%;
        color: $muted-text-color;
        max-width: 242px;
        padding: 0 0 9px 15px; 
    }
    a{
        font: {
            family: $main-font;
            size: $f-size-reg;
            weight: $f-weight-medium;
          }
        line-height: 114%;
        color: $text-color;
        text-decoration: none;
        padding-left: 15px;
        &::after{
            display: inline-block;
            content: "";
            background-image: url(../images/Arrow4.svg);
            width: 16px;
            height: 12px;
            margin-left: 3px;
        }
        &:hover{
            font: {
                family: $main-font;
                size: $f-size-reg;
                weight: $f-weight-medium;
              }
            line-height: 114%;
            color: $primary-color;
            &::after{
                background-image: url(../images/Arrow_green.svg);
            }
        }
    }
}