@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro-Regular.eot");
  src: url("../fonts/CeraPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro-Black.eot");
  src: url("../fonts/CeraPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Black.woff2") format("woff2"), url("../fonts/CeraPro-Black.woff") format("woff"), url("../fonts/CeraPro-Black.ttf") format("truetype"), url("../fonts/CeraPro-Black.svg#CeraPro-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro-Bold.eot");
  src: url("../fonts/CeraPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro-Bold.ttf") format("truetype"), url("../fonts/CeraPro-Bold.svg#CeraPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro-Medium.eot");
  src: url("../fonts/CeraPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.ttf") format("truetype"), url("../fonts/CeraPro-Medium.svg#CeraPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.loader-wrapper {
  position: fixed;
  inset: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
  -webkit-animation: examp 4s forwards;
          animation: examp 4s forwards;
}

@-webkit-keyframes examp {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes examp {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.container__register {
  max-width: 500px;
  border: 1px solid silver;
  margin: auto;
  padding: 52px 100px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 10px solid #46a358;
}

@media screen and (max-width: 390px) {
  .container__register {
    padding: 52px 70px 50px;
  }
}

.pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.title {
  text-align: center;
  font-family: "Cera Pro";
  font-weight: 500;
  font-size: 20px;
  line-height: 80%;
  color: #3d3d3d;
  margin-bottom: 40px;
}

.letter {
  font-family: "Cera Pro";
  font-weight: 250;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
}

.word {
  color: #46a358;
}

.text {
  font-family: "Cera Pro";
  font-size: 13px;
  font-weight: 400;
  line-height: 123%;
  color: #3d3d3d;
  margin-bottom: 14px;
}

.input-field,
.input-confirm {
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 12px 14px;
}

.input-field {
  margin-bottom: 16px;
}

.input-confirm {
  margin-bottom: 41px;
}

.btn {
  width: 100%;
  height: 45px;
  text-align: center;
  background-color: #46a358;
  color: #fff;
  font-family: "Cera Pro";
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin-bottom: 36px;
}

.desc {
  font-family: "Cera Pro";
  font-size: 13px;
  font-weight: 400;
  line-height: 123%;
  color: #3d3d3d;
  margin-bottom: 27px;
  text-align: center;
  position: relative;
}

.desc::before, .desc::after {
  display: inline-block;
  content: "";
  background-image: url(../images/Line7.png);
  width: 95px;
  height: 1px;
  position: absolute;
  bottom: 7px;
}

@media screen and (max-width: 440px) {
  .desc::before, .desc::after {
    width: 67px;
  }
}

@media screen and (max-width: 414px) {
  .desc::before, .desc::after {
    width: 55px;
  }
}

@media screen and (max-width: 390px) {
  .desc::before, .desc::after {
    width: 67px;
  }
}

@media screen and (max-width: 360px) {
  .desc::before, .desc::after {
    width: 60px;
  }
}

@media screen and (max-width: 320px) {
  .desc::before, .desc::after {
    width: 40px;
  }
}

.desc::before {
  left: 0;
}

.desc::after {
  right: 0;
}

.link-google, .link-facebook {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  font-family: "Cera Pro";
  font-size: 13px;
  font-weight: 500;
  line-height: 123%;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  color: #727272;
}

.link-google {
  margin-bottom: 16px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  padding-top: 30px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
  border-bottom: 1px solid rgba(70, 163, 88, 0.5);
}

@media screen and (max-width: 1024px) {
  .box {
    padding: 0 20px;
  }
}

@media screen and (max-width: 440px) {
  .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
    padding: 0 15px;
    margin-bottom: 15px;
  }
}

.logo {
  margin-bottom: 17px;
}

@media screen and (max-width: 440px) {
  .logo {
    margin-bottom: 0;
  }
}

.list__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  list-style: none;
}

@media screen and (max-width: 440px) {
  .list__ul {
    gap: 25px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .list__ul {
    gap: 15px;
  }
}

.list ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #46a358;
  margin-top: 22px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 440px) {
  .list ul li::after {
    margin-top: 5px;
  }
}

.list ul li:hover::after {
  width: 100%;
}

.list ul li:hover .menu {
  font-weight: bold;
}

.list ul li ul li::after {
  display: none;
}

.list ul li ul li a {
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
  text-decoration: none;
  font-family: "Cera Pro";
  line-height: 30px;
}

.menu,
.priming_submenu {
  font-weight: 400;
  font-size: 16px;
  font-family: "Cera Pro";
  color: #3d3d3d;
  text-decoration: none;
  line-height: 30px;
}

.dropdown {
  position: relative;
  margin-bottom: -80px;
}

@media screen and (max-width: 440px) {
  .dropdown {
    margin-bottom: -75px;
  }
}

.dropdown:hover .submenu {
  display: block;
}

.submenu {
  position: absolute;
  left: -55px;
  top: 79px;
  min-width: 188px;
  list-style: none;
  display: none;
  z-index: 99;
}

@media screen and (max-width: 440px) {
  .submenu {
    position: static;
    display: none;
    margin-top: 5px;
    background-color: #edf6ee;
    border-radius: 6px;
    min-width: 120px;
  }
}

.submenu li {
  background-color: #edf6ee;
  padding: 7px 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.submenu li:hover {
  background-color: #1a712a;
}

.submenu li:hover .drop_menu {
  color: #fff;
  font-weight: bold;
}

.dropdown_priming {
  position: relative;
}

.dropdown_priming:hover .arrow-first {
  display: none;
}

.dropdown_priming:hover .arrow-hover {
  display: block;
}

.dropdown_priming:hover .submenu_second {
  display: block;
}

.arrows {
  width: 13px;
  height: 13px;
  position: absolute;
  right: 15px;
  top: 16px;
}

@media screen and (max-width: 440px) {
  .arrows {
    display: none;
  }
}

.arrow-hover {
  display: none;
}

.submenu_second {
  position: absolute;
  top: -132px;
  left: 100%;
  min-width: 188px;
  display: none;
  z-index: 100;
  list-style: none;
}

@media screen and (max-width: 440px) {
  .submenu_second {
    position: static;
    display: none;
    background-color: #edf6ee;
    min-width: inherit;
  }
}

.submenu_second li {
  background-color: #edf6ee;
  padding: 7px 14px;
}

.submenu_second li:hover {
  background-color: #1a712a;
}

.submenu_second li:hover a {
  color: #fff;
  font-weight: bold;
}

.login {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Cera Pro";
  line-height: 123%;
  text-align: center;
  color: #fff;
  background-color: #46a358;
  padding: 8px 17px;
  text-decoration: none;
  margin-bottom: 18px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fbfbfb;
  margin-bottom: 26px;
}

@media screen and (max-width: 834px) {
  .wrapper {
    padding: 30px 0;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 100%;
    overflow: hidden;
  }
}

@media screen and (max-width: 440px) {
  .wrapper {
    display: block;
    padding: 20px;
    text-align: center;
  }
}

.wrapper h3 {
  font-family: "Cera Pro";
  font-size: 14px;
  line-height: 114%;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 7px;
}

.wrapper h1 {
  font-family: "Cera Pro";
  font-size: 70px;
  font-weight: 900;
  line-height: 100%;
  text-transform: uppercase;
  color: #3d3d3d;
}

.wrapper span {
  color: #46a358;
}

.wrapper p {
  max-width: 560px;
  height: 45px;
  font-family: "Cera Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  color: #727272;
  margin-bottom: 44px;
}

@media screen and (max-width: 834px) {
  .wrapper p {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 800px) {
  .wrapper p {
    margin-bottom: 85px;
  }
}

@media screen and (max-width: 375px) {
  .wrapper p {
    margin-bottom: 70px;
  }
}

.texts {
  padding-left: 41px;
}

@media screen and (max-width: 440px) {
  .texts {
    padding: 0;
  }
}

.link-shop {
  background-color: #46a358;
  font-family: "Cera Pro";
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 11px 27px;
  text-decoration: none;
}

.frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 507px;
}

@media screen and (max-width: 440px) {
  .frame {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.shorts {
  max-width: 310px;
  height: 790px;
  background-color: #fbfbfb;
}

@media screen and (max-width: 834px) {
  .shorts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 440px) {
  .shorts {
    margin: auto;
    display: block;
    max-width: 310px;
  }
}

@media screen and (max-width: 430px) {
  .shorts {
    margin-bottom: 20px;
  }
}

.shorts ul {
  padding: 14px 0 0 16px;
}

@media screen and (max-width: 834px) {
  .shorts ul {
    padding-top: 20px;
  }
}

.shorts li {
  list-style: none;
}

.shorts img {
  margin-top: 346px;
}

@media screen and (max-width: 834px) {
  .shorts img {
    margin-top: 0;
  }
}

@media screen and (max-width: 440px) {
  .shorts img {
    margin-top: 346px;
  }
}

.categories {
  font-family: "Cera Pro";
  font-size: 18px;
  font-weight: bold;
  line-height: 89%;
  color: #3d3d3d;
  text-decoration: none;
}

.list__shorts {
  font-family: "Cera Pro";
  font-size: 15px;
  font-weight: 400;
  line-height: 267%;
  padding-left: 30px;
}

.list__shorts a {
  text-decoration: none;
  color: #3d3d3d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.list__shorts a:hover {
  font-weight: 700;
  color: #46a358;
}

.market {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}

@media screen and (max-width: 834px) {
  .market {
    display: block;
  }
}

.parent {
  max-width: 840px;
}

@media screen and (max-width: 834px) {
  .parent {
    padding: 0 20px;
  }
}

.supplies_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 31px;
}

@media screen and (max-width: 440px) {
  .supplies_menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 440px) {
  .menu__left {
    margin-bottom: 10px;
  }
}

.menu__left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 37px;
}

@media screen and (max-width: 834px) {
  .menu__left ul {
    gap: 20px;
  }
}

.menu__left li {
  font-family: "Cera Pro";
  font-size: 15px;
  font-weight: 400;
  line-height: 107%;
  color: #3d3d3d;
  list-style: none;
}

.menu__left a {
  text-decoration: none;
  color: #3d3d3d;
}

.menu__left a:hover {
  font-weight: 700;
  color: #46a358;
  border-bottom: #46a358 solid 2px;
}

.text__right {
  font-family: "Cera Pro";
  font-size: 15px;
  font-weight: 400;
  line-height: 107%;
  color: #3d3d3d;
}

.text__right span {
  font-family: "Cera Pro";
  font-size: 15px;
  font-weight: 400;
  padding-left: 8px;
  line-height: 107%;
  color: #3d3d3d;
}

.text__right::after {
  display: inline-block;
  content: "";
  background-image: url(../images/Arrow.svg);
  width: 16px;
  height: 12px;
}

.supplies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 70px 33px;
  margin-bottom: 90px;
}

@media screen and (max-width: 834px) {
  .supplies {
    gap: 30px;
  }
}

.supplies a {
  text-decoration: none;
}

.supplies ul {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 27px;
  bottom: -40px;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.supplies li {
  list-style: none;
}

.supplies_div {
  position: relative;
  width: 258px;
  overflow: hidden;
  border-top: 1px solid transparent;
}

.supplies_div:hover {
  border-top: #46a358 solid 1px;
}

.supplies_div:hover ul {
  bottom: 60px;
}

.supplies_div:hover ul li:first-of-type a::after {
  display: block;
  content: "";
  background-image: url(../images/cart.svg);
  width: 20px;
  height: 20px;
}

.supplies_div:hover ul li:first-of-type:hover a::after {
  background-image: url(../images/cart_hover.svg);
}

.supplies_div:hover ul li:nth-last-child(2) a::after {
  display: block;
  content: "";
  background-image: url(../images/heart.svg);
  width: 20px;
  height: 20px;
}

.supplies_div:hover ul li:nth-last-child(2):hover a::after {
  background-image: url(../images/heart_hover.svg);
}

.supplies_div:hover ul li:last-of-type a::after {
  display: block;
  content: "";
  background-image: url(../images/magn_glass.svg);
  width: 20px;
  height: 20px;
}

.supplies_div:hover ul li:last-of-type:hover a::after {
  background-image: url(../images/magn_glass_hover.svg);
}

.supplies_card {
  text-decoration: none;
}

.supplies_div_card {
  width: 258px;
  height: 300px;
  background-color: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.name {
  display: block;
  font-family: "Cera Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: #3d3d3d;
  padding-top: 12px;
}

.price {
  display: block;
  font-family: "Cera Pro";
  font-size: 18px;
  font-weight: 700;
  line-height: 89%;
  color: #46a358;
  padding-top: 6px;
}

.off {
  background-color: #46a358;
  padding: 8px;
  position: absolute;
  top: 14px;
  left: 0;
  font-family: "Cera Pro";
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: #fff;
}

.price_off {
  font-family: "Cera Pro";
  font-size: 18px;
  font-weight: 400;
  line-height: 89%;
  color: #a5a5a5;
  text-decoration: line-through;
  margin-left: 16px;
}

.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.numbers ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.numbers li {
  font-family: "Cera Pro";
  font-size: 18px;
  font-weight: 300;
  line-height: 89%;
  color: #3d3d3d;
  list-style: none;
}

.numbers a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  color: #3d3d3d;
  width: 35px;
  height: 35px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.numbers__link:hover {
  font-family: "Cera Pro";
  font-size: 18px;
  font-weight: 700;
  line-height: 89%;
  color: #fff;
  background-color: #46a358;
}

.numbers__link:hover svg path {
  stroke: white;
}

.blog_find_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 28px;
  margin-bottom: 138px;
}

@media screen and (max-width: 834px) {
  .blog_find_more {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 440px) {
  .blog_find_more {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 430px) {
  .blog_find_more {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
}

.blog {
  max-width: 586px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fbfbfb;
}

@media screen and (max-width: 390px) {
  .blog {
    width: 100%;
    display: block;
    text-align: center;
  }
}

.blog a {
  display: inline-block;
  font-family: "Cera Pro";
  font-size: 14px;
  font-weight: 500;
  line-height: 143%;
  color: #fff;
  background-color: #46a358;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  padding: 11px 28px;
}

.blog a::after {
  display: inline-block;
  content: "";
  background-image: url(../images/Arrow3.svg);
  width: 14px;
  height: 10px;
  background-repeat: no-repeat;
  margin-left: 2px;
}

.find__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 30px;
}

@media screen and (max-width: 390px) {
  .find__more {
    display: block;
    text-align: center;
  }
}

.find__more h3 {
  font-family: "Cera Pro";
  font-size: 18px;
  font-weight: 900;
  line-height: 133%;
  text-transform: uppercase;
  text-align: right;
  color: #3d3d3d;
}

@media screen and (max-width: 390px) {
  .find__more h3 {
    text-align: center;
  }
}

.find__more p {
  font-family: "Cera Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  text-align: right;
  color: #727272;
}

@media screen and (max-width: 390px) {
  .find__more p {
    text-align: center;
  }
}

.our__blog_title {
  font-family: "Cera Pro";
  font-size: 30px;
  font-weight: 700;
  line-height: 53%;
  text-align: center;
  color: #3d3d3d;
}

.our__blog_text {
  font-family: "Cera Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  text-align: center;
  color: #727272;
  margin: 15px 0 35px;
}

@media screen and (max-width: 440px) {
  .our__blog_text {
    padding: 0 10px;
  }
}

.article__blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 42px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
  .article__blogs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.article {
  max-width: 268px;
  background-color: #fbfbfb;
  padding-bottom: 12px;
}

.article span {
  font-family: "Cera Pro";
  font-size: 14px;
  font-weight: 500;
  line-height: 114%;
  color: #46a358;
  padding-left: 15px;
}

.article h2 {
  font-family: "Cera Pro";
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  color: #3d3d3d;
  padding-left: 15px;
}

.article p {
  font-family: "Cera Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 157%;
  color: #727272;
  max-width: 242px;
  padding: 0 0 9px 15px;
}

.article a {
  font-family: "Cera Pro";
  font-size: 14px;
  font-weight: 500;
  line-height: 114%;
  color: #3d3d3d;
  text-decoration: none;
  padding-left: 15px;
}

.article a::after {
  display: inline-block;
  content: "";
  background-image: url(../images/Arrow4.svg);
  width: 16px;
  height: 12px;
  margin-left: 3px;
}

.article a:hover {
  font-family: "Cera Pro";
  font-size: 14px;
  font-weight: 500;
  line-height: 114%;
  color: #46a358;
}

.article a:hover::after {
  background-image: url(../images/Arrow_green.svg);
}

.part_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fbfbfb;
  padding: 24px 25px;
  gap: 61px;
  position: relative;
}

@media screen and (max-width: 834px) {
  .part_top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .part_top {
    gap: 50px;
  }
}

@media screen and (max-width: 440px) {
  .part_top {
    gap: 10px;
    padding: 10px;
  }
}

.part_top::before, .part_top::after {
  content: "";
  position: absolute;
  top: 125px;
  width: 187px;
  height: 1px;
  background: rgba(70, 163, 88, 0.1);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (max-width: 834px) {
  .part_top::before, .part_top::after {
    top: 127px;
  }
}

@media screen and (max-width: 440px) {
  .part_top::before, .part_top::after {
    display: none;
  }
}

.part_top::before {
  left: 158px;
}

@media screen and (max-width: 1024px) {
  .part_top::before {
    left: 100px;
    top: 135px;
    width: 210px;
  }
}

@media screen and (max-width: 992px) {
  .part_top::before {
    left: 85px;
    width: 220px;
  }
}

@media screen and (max-width: 834px) {
  .part_top::before {
    left: 175px;
    width: 195px;
  }
}

@media screen and (max-width: 768px) {
  .part_top::before {
    left: 155px;
  }
}

.part_top::after {
  left: 423px;
}

@media screen and (max-width: 1024px) {
  .part_top::after {
    left: 305px;
    top: 135px;
    width: 210px;
  }
}

@media screen and (max-width: 992px) {
  .part_top::after {
    left: 280px;
    width: 220px;
  }
}

@media screen and (max-width: 834px) {
  .part_top::after {
    left: 445px;
    width: 195px;
  }
}

@media screen and (max-width: 768px) {
  .part_top::after {
    left: 410px;
  }
}

.card_description {
  width: 204px;
}

.card_description img {
  margin-bottom: 15px;
}

.card_description h3 {
  font-family: "Cera Pro";
  font-size: 17px;
  font-weight: 700;
  line-height: 94%;
  color: #3d3d3d;
  margin-bottom: 9px;
}

.card_description p {
  font-family: "Cera Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 157%;
  color: #727272;
}

.form_input {
  max-width: 354px;
}

.form_input h3 {
  font-family: "Cera Pro";
  font-size: 18px;
  font-weight: 700;
  line-height: 89%;
  color: #3d3d3d;
  margin-bottom: 25px;
}

.form_input p {
  font-family: "Cera Pro";
  font-size: 13px;
  font-weight: 400;
  line-height: 169%;
  color: #727272;
}

.footer_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 18px;
}

.footer_input input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 12px 14px;
  border: none;
  font-family: "Cera Pro";
  font-size: 14px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
}

.footer_input input::-webkit-input-placeholder {
  color: #acacac;
}

.footer_input input:-ms-input-placeholder {
  color: #acacac;
}

.footer_input input::-ms-input-placeholder {
  color: #acacac;
}

.footer_input input::placeholder {
  color: #acacac;
}

.footer_input button {
  padding: 12px 26px;
  background-color: #46a358;
  color: #fff;
  font-family: "Cera Pro";
  font-size: 18px;
  font-weight: 700;
  line-height: 89%;
  border: none;
  border-radius: 0 6px 6px 0;
}

.gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 155px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#edf6ee), to(#52c368));
  background: linear-gradient(90deg, #edf6ee 0%, #52c368 100%);
  padding: 25px 22px 19px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .gradient {
    gap: 100px;
  }
}

@media screen and (max-width: 992px) {
  .gradient {
    gap: 90px;
  }
}

@media screen and (max-width: 834px) {
  .gradient {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 440px) {
  .gradient {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

.icon-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Cera Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 157%;
  color: #3d3d3d;
  gap: 10px;
}

@media screen and (max-width: 440px) {
  .icon-info {
    display: block;
  }
}

.icon-info:first-of-type::before {
  display: inline-block;
  content: "";
  background-image: url(../images/address.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 300px;
  bottom: 33px;
}

@media screen and (max-width: 1024px) {
  .icon-info:first-of-type::before {
    left: 245px;
  }
}

@media screen and (max-width: 992px) {
  .icon-info:first-of-type::before {
    left: 235px;
  }
}

@media screen and (max-width: 834px) {
  .icon-info:first-of-type::before {
    left: 285px;
    top: 33px;
  }
}

@media screen and (max-width: 820px) {
  .icon-info:first-of-type::before {
    left: 280px;
  }
}

@media screen and (max-width: 800px) {
  .icon-info:first-of-type::before {
    left: 270px;
  }
}

@media screen and (max-width: 768px) {
  .icon-info:first-of-type::before {
    left: 255px;
  }
}

@media screen and (max-width: 440px) {
  .icon-info:first-of-type::before {
    left: 112px;
    top: 93px;
  }
}

@media screen and (max-width: 430px) {
  .icon-info:first-of-type::before {
    left: 105px;
  }
}

@media screen and (max-width: 414px) {
  .icon-info:first-of-type::before {
    left: 100px;
    bottom: 128px;
  }
}

@media screen and (max-width: 390px) {
  .icon-info:first-of-type::before {
    left: 88px;
    bottom: 120px;
  }
}

@media screen and (max-width: 375px) {
  .icon-info:first-of-type::before {
    left: 80px;
  }
}

@media screen and (max-width: 360px) {
  .icon-info:first-of-type::before {
    left: 75px;
    bottom: 118px;
  }
}

@media screen and (max-width: 320px) {
  .icon-info:first-of-type::before {
    left: 53px;
  }
}

.icon-info:nth-last-of-type(2)::before {
  display: inline-block;
  content: "";
  background-image: url(../images/mail.svg);
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 440px) {
  .icon-info:nth-last-of-type(2)::before {
    position: absolute;
    right: 305px;
  }
}

@media screen and (max-width: 414px) {
  .icon-info:nth-last-of-type(2)::before {
    right: 292px;
  }
}

@media screen and (max-width: 390px) {
  .icon-info:nth-last-of-type(2)::before {
    right: 282px;
  }
}

@media screen and (max-width: 375px) {
  .icon-info:nth-last-of-type(2)::before {
    right: 275px;
  }
}

@media screen and (max-width: 360px) {
  .icon-info:nth-last-of-type(2)::before {
    right: 265px;
  }
}

@media screen and (max-width: 320px) {
  .icon-info:nth-last-of-type(2)::before {
    right: 245px;
  }
}

.icon-info:last-of-type::before {
  display: inline-block;
  content: "";
  background-image: url(../images/call.svg);
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 440px) {
  .icon-info:last-of-type::before {
    position: absolute;
    right: 280px;
  }
}

@media screen and (max-width: 414px) {
  .icon-info:last-of-type::before {
    right: 262px;
  }
}

@media screen and (max-width: 390px) {
  .icon-info:last-of-type::before {
    right: 255px;
  }
}

@media screen and (max-width: 375px) {
  .icon-info:last-of-type::before {
    right: 248px;
  }
}

@media screen and (max-width: 360px) {
  .icon-info:last-of-type::before {
    right: 240px;
  }
}

@media screen and (max-width: 320px) {
  .icon-info:last-of-type::before {
    right: 220px;
  }
}

.part_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 150px;
  background-color: #fbfbfb;
  padding: 33px 0 29px 25px;
  margin-bottom: 6px;
  border-bottom: 1px solid rgba(70, 163, 88, 0.2);
}

@media screen and (max-width: 1024px) {
  .part_bottom {
    gap: 135px;
  }
}

@media screen and (max-width: 834px) {
  .part_bottom {
    gap: 70px;
  }
}

@media screen and (max-width: 768px) {
  .part_bottom {
    gap: 60px;
  }
}

@media screen and (max-width: 440px) {
  .part_bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
  }
}

@media screen and (max-width: 390px) {
  .part_bottom {
    gap: 35px;
  }
}

@media screen and (max-width: 375px) {
  .part_bottom {
    gap: 30px;
  }
}

@media screen and (max-width: 360px) {
  .part_bottom {
    gap: 18px;
  }
}

@media screen and (max-width: 320px) {
  .part_bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.part_bottom h3 {
  font-family: "Cera Pro";
  font-size: 18px;
  font-weight: 700;
  line-height: 89%;
  color: #3d3d3d;
}

.part_bottom li {
  font-family: "Cera Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 214%;
  list-style: none;
}

.part_bottom a {
  text-decoration: none;
  color: #3d3d3d;
}

.footer_categories h3 {
  margin-bottom: 8px;
}

@media screen and (max-width: 440px) {
  .social-pay_info {
    margin: auto;
  }
}

.social h3 {
  margin-bottom: 20px;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social li {
  list-style: none;
}

.social a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(70, 163, 88, 0.2);
  border-radius: 4px;
  width: 30px;
  height: 30px;
  text-decoration: none;
}

.pay h3 {
  margin-bottom: 13px;
}

.copyright {
  font-family: "Cera Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 214%;
  color: #3d3d3d;
  text-align: center;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: -ms-grid;
  display: grid;
}

.loader::before, .loader::after {
  content: "";
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  --c:no-repeat radial-gradient(farthest-side,#46a358 92%,#0000);
  background: var(--c) 50% 0%, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0% 50%;
  background-size: 12px 9px;
  -webkit-animation: preload 1s 5;
          animation: preload 1s 5;
}

.loader::before {
  margin: 4px;
  -webkit-filter: hue-rotate(20deg);
          filter: hue-rotate(20deg);
  background-size: 9px 7px;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes preload {
  100% {
    -webkit-transform: rotate(0.5turn);
            transform: rotate(0.5turn);
  }
}

@keyframes preload {
  100% {
    -webkit-transform: rotate(0.5turn);
            transform: rotate(0.5turn);
  }
}
/*# sourceMappingURL=pre_style.css.map */