.container__register{
    max-width: 500px;
    border: 1px solid silver;
    margin: auto;
    padding: 52px 100px 50px;
    box-sizing: border-box;
    border-bottom: 10px solid $primary-color;
    @include max-screen(390px){
      padding: 52px 70px 50px;
    }
}
.pic{
    display: flex;
    justify-content: flex-end;
}
.title {
    text-align: center;
    font: {
      family: $main-font;
      weight: $f-weight-medium;
      size: 20px;
    }
    line-height: 80%;
    color: $text-color;
    margin-bottom: 40px;
}
.letter {
    font: {
      family: $main-font;
      weight: $f-weight-hairline;
      size: $f-size-md;
    }
    line-height: 89%;
    color: $text-color;
}
.word{
    color: $primary-color;
} 
.text{
    font: {
      family: $main-font;
      size: $f-size-sm;
      weight: $f-weight-regular;
    }
    line-height: 123%;
    color: $text-color;
    margin-bottom: 14px;
}
.input-field,
.input-confirm{
    width: 100%;
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 12px 14px;
} 
.input-field{
    margin-bottom: 16px;
}
  
.input-confirm{
    margin-bottom: 41px;
}
.btn{
    width: 100%;
    height: 45px;
    text-align: center;
    background-color: $primary-color;
    color: $white;
    font: {
      family: $main-font;
      size: $f-size-base;
      weight: $f-weight-bold;
    }
    border: none;
    border-radius: 5px;
    margin-bottom: 36px;
}
.desc{
    font: {
      family: $main-font;
      size: $f-size-sm;
      weight: $f-weight-regular;
    }
    line-height: 123%;
    color: $text-color;
    margin-bottom: 27px;
    text-align: center;
    position: relative;
  
    &::before,
    &::after{
      display: inline-block;
      content: "";
      background-image: url(../images/Line7.png);
      width: 95px;
      height: 1px;
      position: absolute;
      bottom: 7px;
      @include max-screen(440px){
        width: 67px;
      }
      @include max-screen(414px){
        width: 55px;
      }
      @include max-screen(390px){
        width: 67px;
      }
      @include max-screen(360px){
        width: 60px;
      }
      @include max-screen(320px){
        width: 40px;
      }
    }
    &::before{
      left: 0;
    }
    &::after{
      right: 0;
    }
}
%btn-social{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    border: 1px solid $border-color;
    border-radius: 5px;
    font: {
      family: $main-font;
      size: $f-size-sm;
      weight: $f-weight-medium;
    }
    line-height: 123%;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: $muted-text-color;
}
.link-google{
    @extend %btn-social;
    margin-bottom: 16px;
}
.link-facebook{
    @extend %btn-social;
}