.shorts{
    max-width: 310px;
    height: 790px;
    background-color: $bg-color;
    @include max-screen(834px){
        display: flex;
        justify-content: space-between;
        height: auto;
        max-width: 100%;
        margin-bottom: 20px;
    }
    @include max-screen(440px){
        margin: auto;
        display: block;
        max-width: 310px;
    }
    @include max-screen(430px){
        margin-bottom: 20px;
        }
    ul{
        padding: 14px 0 0 16px;
        @include max-screen(834px){
            padding-top: 20px;
        }

    }
    li{
        list-style: none;
    }
    img{
        margin-top: 346px;
        @include max-screen(834px){
            margin-top: 0;
        }
        @include max-screen(440px){
            margin-top: 346px;
        }
    }
}
.categories{
    font: {
        family: $main-font;
        size: $f-size-md;
        weight: bold;
      }
    line-height: 89%;
    color: $text-color;
    text-decoration: none;
}
.list__shorts{
    font: {
        family: $main-font;
        size: 15px;
        weight: $f-weight-regular;
      }
    line-height: 267%;
    padding-left: 30px;  
    a{
        text-decoration: none;
        color: $text-color;
        transition: 0.3s;
        &:hover{
            font-weight: $f-weight-bold;
            color: $primary-color;
        } 
    } 
}
.market{
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
    @include max-screen(834px){
        display: block;
    }
}
.parent{
    max-width: 840px;
    @include max-screen(834px){
        padding: 0 20px;
    }
}
.supplies_menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 31px;
    @include max-screen(440px){
        flex-wrap: wrap;
        justify-content: center;
    }
}
.menu__left{
    @include max-screen(440px){
        margin-bottom: 10px;
    }
    ul{
        display: flex;
        gap: 37px;
        @include max-screen(834px){
            gap: 20px;
        }
    }
    li{
        font: {
            family: $main-font;
            size: 15px;
            weight: $f-weight-regular;
          }
        line-height: 107%;
        color: $text-color;
        list-style: none;
    }
    a{
        text-decoration: none;
        color: $text-color;
        &:hover{
            font-weight: $f-weight-bold;
            color: $primary-color;
            border-bottom: $primary-color solid 2px;
        }
    }
}
.text__right{
    font: {
        family: $main-font;
        size: 15px;
        weight: $f-weight-regular;
      }
    line-height: 107%;
    color: $text-color;
    span{
        font: {
            family: $main-font;
            size: 15px;
            weight: $f-weight-regular;
          }
        padding-left: 8px;
        line-height: 107%;
        color: $text-color;
    }
    &::after{
        display: inline-block;
        content: "";
        background-image: url(../images/Arrow.svg);
        width: 16px;
        height: 12px; 
    }
}
.supplies{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 70px 33px;
    margin-bottom: 90px;
    @include max-screen(834px){
        gap: 30px;
    }
    a{
        text-decoration: none;
    }
    ul{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 27px;
        bottom: -40px;
        left: 0;
        transition: 0.5s; 
    }
    li{
        list-style: none;
    }
}
.supplies_div{
    position: relative;
    width: 258px;
    overflow: hidden;
    border-top: 1px solid transparent;
    &:hover{
        border-top: $primary-color solid 1px;
        ul{
            bottom: 60px;
            li{
                &:first-of-type{
                    a{
                        &::after{
                            display: block;
                            content: "";
                            background-image: url(../images/cart.svg);
                            width: 20px;
                            height: 20px;                        
                        }
                    }
                    &:hover{
                        a{
                            &::after{
                                background-image: url(../images/cart_hover.svg); 
                            }
                        }
                    }
                }
                &:nth-last-child(2){
                    a{
                        &::after{
                            display: block;
                            content: "";
                            background-image: url(../images/heart.svg);
                            width: 20px;
                            height: 20px;                        
                        }
                    }
                    &:hover{
                        a{
                            &::after{
                                background-image: url(../images/heart_hover.svg); 
                            }
                        }
                    }
                }
                &:last-of-type{
                    a{
                        &::after{
                            display: block;
                            content: "";
                            background-image: url(../images/magn_glass.svg);
                            width: 20px;
                            height: 20px;
                        }
                    }
                    &:hover{
                        a{
                            &::after{
                                background-image: url(../images/magn_glass_hover.svg);
                            }
                        }
                    }
                }
            }
        }
    }
}
.supplies_card{
    text-decoration: none;
}
.supplies_div_card{
    width: 258px;
    height: 300px;
    background-color: $bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name{
    display: block;
    font: {
        family: $main-font;
        size: $f-size-base;
        weight: $f-weight-regular;
      }
    line-height: 100%;
    color: $text-color;
    padding-top: 12px;
}
.price{
    display: block;
    font: {
        family: $main-font;
        size: $f-size-md;
        weight: $f-weight-bold;
      }
    line-height: 89%;
    color: $primary-color;
    padding-top: 6px;
}
.off{
    background-color: $primary-color;
    padding: 8px;
    position: absolute;
    top: 14px;
    left: 0;
    font: {
        family: $main-font;
        size: $f-size-base;
        weight: $f-weight-medium;
      }
    line-height: 100%;
    color: $white;
}
.price_off{
    font: {
        family: $main-font;
        size: $f-size-md;
        weight: $f-weight-regular;
      }
    line-height: 89%;
    color: #a5a5a5;
    text-decoration: line-through;
    margin-left: 16px;
}
.numbers{
    display: flex;
    justify-content: flex-end;
    ul{
        display: flex;
        gap: 10px; 
    }
    li{
        font: {
            family: $main-font;
            size: $f-size-md;
            weight: $f-weight-light;
          }
        line-height: 89%;
        color: $text-color;
        list-style: none;  
    }
    a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        color: $text-color;
        width: 35px;
        height: 35px;
        text-decoration: none;
        transition: 0.3s;
    }
}
.numbers__link{
    &:hover{
        font: {
            family: $main-font;
            size: $f-size-md;
            weight: $f-weight-bold;
          }
        line-height: 89%;
        color: $white;
        background-color: $primary-color;
        svg{
            path{
                stroke: white; 
            }
        }
    }
}