.shorts {
  max-width: 310px;
  height: 790px;
  background-color: #fbfbfb;
}

.shorts ul {
  padding: 14px 0 0 16px;
}

.shorts li {
  list-style: none;
}

.shorts img {
  margin-top: 346px;
}

.categories {
  font-family: 'Cera Pro';
  font-size: 18px;
  font-weight: bold;
  line-height: 89%;
  color: #3d3d3d;
  text-decoration: none;
}

.list__shorts {
  font-family: 'Cera Pro';
  font-size: 15px;
  font-weight: 400;
  line-height: 267%;
  padding-left: 30px;
}

.list__shorts a {
  text-decoration: none;
  color: #3d3d3d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.list__shorts a:hover {
  font-weight: 700;
  color: #46a358;
}

.market {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}

.parent {
  max-width: 840px;
}

.supplies_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 31px;
}

.menu__left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 37px;
}

.menu__left li {
  font-family: 'Cera Pro';
  font-size: 15px;
  font-weight: 400;
  line-height: 107%;
  color: #3d3d3d;
  list-style: none;
}

.menu__left a {
  text-decoration: none;
  color: #3d3d3d;
}

.menu__left a:hover {
  font-weight: 700;
  color: #46a358;
  border-bottom: #46A358 solid 2px;
}

.text__right {
  font-family: 'Cera Pro';
  font-size: 15px;
  font-weight: 400;
  line-height: 107%;
  color: #3d3d3d;
}

.text__right span {
  font-family: 'Cera Pro';
  font-size: 15px;
  font-weight: 400;
  padding-left: 8px;
  line-height: 107%;
  color: #3d3d3d;
}

.text__right::after {
  display: inline-block;
  content: "";
  background-image: url(../images/Arrow.svg);
  width: 16px;
  height: 12px;
}

.supplies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 70px 33px;
  margin-bottom: 90px;
}

.supplies a {
  text-decoration: none;
}

.supplies ul {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 27px;
  bottom: -40px;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.supplies li {
  list-style: none;
}

.supplies_div {
  position: relative;
  width: 258px;
  overflow: hidden;
  border-top: 1px solid transparent;
}

.supplies_div:hover {
  border-top: #46A358 solid 1px;
}

.supplies_div:hover ul {
  bottom: 60px;
}

.supplies_div:hover ul li:first-of-type a::after {
  display: block;
  content: "";
  background-image: url(../images/cart.svg);
  width: 20px;
  height: 20px;
}

.supplies_div:hover ul li:first-of-type:hover a::after {
  background-image: url(../images/cart_hover.svg);
}

.supplies_div:hover ul li:nth-last-child(2) a::after {
  display: block;
  content: "";
  background-image: url(../images/heart.svg);
  width: 20px;
  height: 20px;
}

.supplies_div:hover ul li:nth-last-child(2):hover a::after {
  background-image: url(../images/heart_hover.svg);
}

.supplies_div:hover ul li:last-of-type a::after {
  display: block;
  content: "";
  background-image: url(../images/magn_glass.svg);
  width: 20px;
  height: 20px;
}

.supplies_div:hover ul li:last-of-type:hover a::after {
  background-image: url(../images/magn_glass_hover.svg);
}

.supplies_card {
  text-decoration: none;
}

.supplies_div_card {
  width: 258px;
  height: 300px;
  background-color: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.name {
  display: block;
  font-family: 'Cera Pro';
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: #3d3d3d;
  padding-top: 12px;
}

.price {
  display: block;
  font-family: 'Cera Pro';
  font-size: 18px;
  font-weight: 700;
  line-height: 89%;
  color: #46a358;
  padding-top: 6px;
}

.off {
  background-color: #46A358;
  padding: 8px;
  position: absolute;
  top: 14px;
  left: 0;
  font-family: 'Cera Pro';
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: #fff;
}

.price_off {
  font-family: 'Cera Pro';
  font-size: 18px;
  font-weight: 400;
  line-height: 89%;
  color: #a5a5a5;
  text-decoration: line-through;
  margin-left: 16px;
}

.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.numbers ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.numbers li {
  font-family: 'Cera Pro';
  font-size: 18px;
  font-weight: 300;
  line-height: 89%;
  color: #3d3d3d;
  list-style: none;
}

.numbers a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  color: #3d3d3d;
  width: 35px;
  height: 35px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.numbers__link:hover {
  font-family: 'Cera Pro';
  font-size: 18px;
  font-weight: 700;
  line-height: 89%;
  color: #fff;
  background-color: #46A358;
}

.numbers__link:hover svg path {
  stroke: white;
}
/*# sourceMappingURL=section_two.css.map */