.blog_find_more{
    display: flex;
    justify-content: space-between;
    gap: 28px;
    margin-bottom: 138px;
    @include max-screen(834px){
        flex-wrap: wrap;
        justify-content: center;
    }
    @include max-screen(440px){
        flex-direction: column;
        gap: 20px;
    }
    @include max-screen(430px){
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }
}
.blog{
    max-width: 586px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-color;
    @include max-screen(390px){
        width: 100%;
        display: block;
        text-align: center;
    }
    a{
        display: inline-block;
        font: {
            family: $main-font;
            size: $f-size-reg;
            weight: $f-weight-medium;
          }
        line-height: 143%;
        color: $white;
        background-color: $primary-color; 
        border-radius: 6px; 
        text-align: center;
        text-decoration: none;
        padding: 11px 28px; 
        &::after{
            display: inline-block;
            content: "";
            background-image: url(../images/Arrow3.svg);
            width: 14px;
            height: 10px;
            background-repeat: no-repeat;
            margin-left: 2px;        
        }
    }
}
.find__more{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 30px;
    @include max-screen(390px){
        display: block;
        text-align: center;
    }
    h3{
        font: {
            family: $main-font;
            size: $f-size-md;
            weight: $f-weight-black;
          }
        line-height: 133%;
        text-transform: uppercase;
        text-align: right;
        color: $text-color; 
        @include max-screen(390px){
            text-align: center;
        } 
    }
    p{
        font: {
            family: $main-font;
            size: $f-size-reg;
            weight: $f-weight-regular;
          }
        line-height: 171%;
        text-align: right;
        color: $muted-text-color;
        @include max-screen(390px){
            text-align: center;
        }
    }
}
