@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.eot');
    src: url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Regular.woff2') format('woff2'),
        url('../fonts/CeraPro-Regular.woff') format('woff'),
        url('../fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.eot');
    src: url('../fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Black.woff2') format('woff2'),
        url('../fonts/CeraPro-Black.woff') format('woff'),
        url('../fonts/CeraPro-Black.ttf') format('truetype'),
        url('../fonts/CeraPro-Black.svg#CeraPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.eot');
    src: url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Bold.woff2') format('woff2'),
        url('../fonts/CeraPro-Bold.woff') format('woff'),
        url('../fonts/CeraPro-Bold.ttf') format('truetype'),
        url('../fonts/CeraPro-Bold.svg#CeraPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.eot');
    src: url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro-Medium.ttf') format('truetype'),
        url('../fonts/CeraPro-Medium.svg#CeraPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.container{
    max-width: 500px;
    border: solid 1px silver;
    margin: auto; 
    padding: 52px 100px 50px; 
    box-sizing: border-box; 
    border-bottom: solid 10px #46A358; 
}
.pic{
    display: flex;
    justify-content: flex-end;
}
.title{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    margin-bottom: 40px;
    font-family: 'Cera Pro';
}
.letter{
    font-family: 'Cera Pro';
    font-weight: 250;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}
.word{
    color: #46a358;
}
.text{
    font-size: 13px;
    font-weight: 400;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 14px; 
    font-family: 'Cera Pro';
}
.input-field{
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    margin-bottom: 16px; 
}
.input-confirm{
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    margin-bottom: 41px; 
}
.btn{
    width: 100%;
    height: 45px; 
    text-align: center; 
    background-color: #46A358;
    color: #FFFFFF;
    font-size: 16px; 
    font-weight: 700;
    border: none;
    border-radius: 5px;
    font-family: 'Cera Pro';
}
.desc{
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;  
}
.line-right{
    margin-right: 3px; 
    margin-bottom: 4px;  
}
.line-left{
    margin-left: 3px; 
    margin-bottom: 4px;
}
.link-google{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 9px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    margin-bottom: 16px;
    text-align: center;
    color: #727272; 
    padding: 10px 0;
    text-decoration: none;
    font-family: 'Cera Pro';
}
.link-facebook{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 9px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272; 
    padding: 10px 0;
    text-decoration: none; 
    font-family: 'Cera Pro';
}
.header{
    padding-top: 30px;
}
.index-container{
    max-width: 1200px; 
    margin: auto; 
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.30px solid rgba(70, 163, 88, 0.5);
}
.list ul{
    display: flex;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d; 
    text-decoration: none;
    font-family: 'Cera Pro';
}
.menu:hover{
    border-bottom: #46A358 solid 3px;
    font-weight: bold;
    transition: 0.3s;
}
.login{
    display: inline-flex;
    align-items: center;  
    gap: 4px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 123%;
    text-align: center;
    color: #fff; 
    background-color: #46a358;
    padding: 8px 17px;
    text-decoration: none;
    font-family: 'Cera Pro';
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbfbfb;
    margin-top: 23px;
    padding: 68px 20px 85px;
}
.index-container h3{
    font-size: 14px;
    line-height: 114%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 7px;
    font-family: 'Cera Pro';
}
.index-container h1{
    height: 140px; 
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-top: 0; 
    margin-bottom: 5px;
    font-family: 'Cera Pro';
}
.wrapper span{
    color: #46a358;
}
.index-container p{
    max-width: 560px; 
    height: 45px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
    font-family: 'Cera Pro';
}
.link-shop{
    background-color: #46a358;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase; 
    color: #fff;
    border: none; 
    border-radius: 5px;
    padding: 11px 27px;
    text-decoration: none;
    font-family: 'Cera Pro';
}
.frame{
    display: flex;
    align-items: flex-end;
    max-width: 507px;
}
.shorts{
    max-width: 310px;
    height: 790px;
    background-color: #fbfbfb;
}
.categories{
    font-family: 'Cera Pro';
    font-weight: bold;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    padding-top: 14px;
    padding-left: 18px;
}
.list__shorts{
    font-family: 'Cera Pro';
    font-size: 15px;
    line-height: 267%;
    font-weight: 400;
    list-style: none;   
}
.list__shorts a:hover{
    font-weight: 700;
    color: #46a358;
}
.list__shorts a{
    text-decoration: none;
    color: #3d3d3d;
}
.shorts img{
    margin-top: 346px;
}
.market{
    display: flex;
    gap: 50px;
    margin-top: 26px;
}
.parent{
    max-width: 840px;
}
.supplies_menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.menu__left ul{
    display: flex;
    gap: 37px;
   
}
.menu__left li{
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    list-style: none;
}
.menu__left a{
    text-decoration: none;
    color: #3d3d3d;
}
.menu__left a:hover{
    font-weight: 700;
    color: #46a358;
    border-bottom: #46A358 solid 2px; 
}
.text__right{
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}
.text__right span{
    padding-left: 8px;
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}
.text__right::after{
    display: inline-block;
    content: "";
    background-image: url(../images/Arrow.svg);
    width: 16px;
    height: 12px;
}
.supplies{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 70px 33px;
}
.supplies span{
    display: block;
}
.supplies a{
    text-decoration: none;
    max-width: 258px;
    height: 350px;
}
.supplies img{
    background-color: #fbfbfb;
}
.name{
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    padding-bottom: 6px;
}
.price{
    font-family: 'Cera Pro';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
}
.numbers{
    display: flex;
    justify-content: flex-end;
    margin-top: 90px;
}
.numbers ul{
    display: flex;
    gap: 10px;
}
.numbers li{
    font-family: 'Cera Pro';
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    list-style: none;
}
.numbers a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    text-decoration: none;
}
.numbers__link:hover{
    font-family: 'Cera Pro';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    background-color: #46A358;
}
.blog_find_more{
    display: flex;
    justify-content: space-between;
    gap: 28px;
}
.blog{
    max-width: 586px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbfbfb;
}
.find__more{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 30px;
}
.find__more h3{
    font-family: 'Cera Pro';
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
}
.find__more p{
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
}
.blog a{
    display: inline-block;
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    background-color: #46a358; 
    border-radius: 6px; 
    text-align: center;
    text-decoration: none;
    padding: 11px 28px;
}
.blog a::after{
    display: inline-block;
    content: "";
    background-image: url(../images/Arrow3.svg);
    width: 18px;
    height: 10px;
    background-repeat: no-repeat;
    margin-left: 2px;
}
.our__blog_title{
    font-family: 'Cera Pro';
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    margin-top: 138px;
}
.our__blog_text{
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
}
.article__blogs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
}
.article{
    max-width: 268px;
    background-color: #fbfbfb;
}
.article span{
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    padding-left: 15px;
}
.article h2{
    font-family: 'Cera Pro';
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    padding-left: 15px;
}
.article p{
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    max-width: 242px;
    padding: 0 0 9px 15px;
    margin: 0;
}
.article a{
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    text-decoration: none;
    padding-left:15px;
}
.article a::after{
    display: inline-block;
    content: "";
    background-image: url(../images/Arrow4.svg);
    width: 16px;
    height: 12px;
    margin-left: 3px;
}
.article a:hover::after{
    background-image: url(../images/Arrow_green.svg);
}
.article a:hover{
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
}


