@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.eot');
    src: url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Regular.woff2') format('woff2'),
        url('../fonts/CeraPro-Regular.woff') format('woff'),
        url('../fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.eot');
    src: url('../fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Black.woff2') format('woff2'),
        url('../fonts/CeraPro-Black.woff') format('woff'),
        url('../fonts/CeraPro-Black.ttf') format('truetype'),
        url('../fonts/CeraPro-Black.svg#CeraPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.eot');
    src: url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Bold.woff2') format('woff2'),
        url('../fonts/CeraPro-Bold.woff') format('woff'),
        url('../fonts/CeraPro-Bold.ttf') format('truetype'),
        url('../fonts/CeraPro-Bold.svg#CeraPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.eot');
    src: url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro-Medium.ttf') format('truetype'),
        url('../fonts/CeraPro-Medium.svg#CeraPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.container__register{
    max-width: 500px;
    border: solid 1px silver;
    margin: auto; 
    padding: 52px 100px 50px; 
    box-sizing: border-box; 
    border-bottom: solid 10px #46A358; 
}
.pic{
    display: flex;
    justify-content: flex-end;
    padding: 0;
}
.title{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    margin-bottom: 40px;
    font-family: 'Cera Pro';
}
.letter{
    font-family: 'Cera Pro';
    font-weight: 250;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}
.word{
    color: #46a358;
}
.text{
    font-size: 13px;
    font-weight: 400;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 14px; 
    font-family: 'Cera Pro';
}
.input-field{
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    margin-bottom: 16px; 
}
.input-confirm{
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    margin-bottom: 41px; 
}
.btn{
    width: 100%;
    height: 45px; 
    text-align: center; 
    background-color: #46A358;
    color: #FFFFFF;
    font-size: 16px; 
    font-weight: 700;
    border: none;
    border-radius: 5px;
    font-family: 'Cera Pro';
    margin-bottom: 36px;
}
.desc{
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;  
    margin-bottom: 27px;
    text-align: center;
    position: relative;
}
.desc::before{
    display: inline-block;
    content: "";
    background-image: url(../images/Line7.png);
    width: 95px;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 7px
}
.desc::after{
    display: inline-block;
    content: "";
    background-image: url(../images/Line7.png);
    width: 95px;
    height: 1px;
    position: absolute;
    right: 0;
    bottom: 7px
}
.link-google{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 9px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    margin-bottom: 16px;
    text-align: center;
    color: #727272; 
    padding: 10px 0;
    text-decoration: none;
    font-family: 'Cera Pro';
}
.link-facebook{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 9px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272; 
    padding: 10px 0;
    text-decoration: none; 
    font-family: 'Cera Pro';
}
header{
    padding-top: 30px;
}
.container{
    max-width: 1200px; 
    margin: auto; 
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
}
.logo{
    margin-bottom: 17px;
}
.list__ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
.list ul li::after{
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #46A358;
    margin-top: 22px;
    transition: 0.4s;
}
.list ul li:hover::after{
    width: 100%;
}
.list ul li:hover .menu{
    font-weight: bold;
}
.list ul li ul li::after{
    display: none;
}
.menu{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d; 
    text-decoration: none;
    font-family: 'Cera Pro';
    line-height: 30px;
}
.list ul li ul li a{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d; 
    text-decoration: none;
    font-family: 'Cera Pro';
    line-height: 30px;
}
.dropdown{
    position: relative;
    margin-bottom: -80px;
}
.submenu{
    position: absolute;
    left: -55px;
    top: 79px;
    min-width: 188px;
    list-style: none;
    display: none;
    z-index: 99;
}
.priming_submenu{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d; 
    text-decoration: none;
    font-family: 'Cera Pro';
    line-height: 30px;
}
.dropdown:hover .submenu {
    display: block;
}
.submenu li{
    background-color: #edf6ee;
    padding: 7px 14px;
    transition: 0.3s;
}
.submenu li:hover{
    background-color: #1a712a;
}
.submenu li:hover .drop_menu{
    color: #fff;
    font-weight: bold;
}
.dropdown_priming{
    position: relative;
}
.arrows{
    width: 13px;
    height: 13px;
    position: absolute;
    right: 15px;
    top: 16px; 
}  
.arrow-hover{
    display: none;
} 
.dropdown_priming:hover .arrow-first{
    display: none;
}
.dropdown_priming:hover .arrow-hover{
    display: block;
}
.submenu_second{
    position: absolute;
    top: -132px;
    left: 100%;
    min-width: 188px;
    display: none;
    z-index: 100;
    list-style: none;
}
.dropdown_priming:hover .submenu_second{
    display: block;
}
.submenu_second li{
    padding: 7px 14px;
    background-color: #edf6ee;
}
.submenu_second li:hover{
    background-color: #1a712a;
}
.submenu_second li:hover a{
    color: #fff;
    font-weight: bold;
}
.login{
    display: inline-flex;
    align-items: center;  
    gap: 4px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 123%;
    text-align: center;
    color: #fff; 
    background-color: #46a358;
    padding: 8px 17px;
    text-decoration: none;
    font-family: 'Cera Pro';
    margin-bottom: 18px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbfbfb;
    margin-bottom: 26px;
}
.texts{
    padding-left: 41px;
}
.wrapper h3{
    font-size: 14px;
    line-height: 114%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 7px;
    font-family: 'Cera Pro';
}
.wrapper h1{
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d; 
    font-family: 'Cera Pro';
}
.wrapper span{
    color: #46a358;
}
.wrapper p{
    max-width: 560px; 
    height: 45px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
    font-family: 'Cera Pro';
}
.link-shop{
    background-color: #46a358;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase; 
    color: #fff;
    border: none; 
    border-radius: 5px;
    padding: 11px 27px;
    text-decoration: none;
    font-family: 'Cera Pro';
}
.frame{
    display: flex;
    align-items: flex-end;
    max-width: 507px;
}
.shorts{
    max-width: 310px;
    height: 790px;
    background-color: #fbfbfb;
}
.categories{
    font-family: 'Cera Pro';
    font-weight: bold;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    padding-top: 14px;
    padding-left: 18px;
}
.list__shorts{
    font-family: 'Cera Pro';
    font-size: 15px;
    line-height: 267%;
    font-weight: 400;
    list-style: none;
    padding-left: 30px;   
}
.list__shorts a:hover{
    font-weight: 700;
    color: #46a358;
}
.list__shorts a{
    text-decoration: none;
    color: #3d3d3d;
    transition: 0.3s;
}
.shorts img{
    margin-top: 346px;
}
.market{
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}
.parent{
    max-width: 840px;
}
.supplies_menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 31px;
}
.menu__left ul{
    display: flex;
    gap: 37px;
}
.menu__left li{
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    list-style: none;
}
.menu__left a{
    text-decoration: none;
    color: #3d3d3d;
}
.menu__left a:hover{
    font-weight: 700;
    color: #46a358;
    border-bottom: #46A358 solid 2px; 
}
.text__right{
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}
.text__right span{
    padding-left: 8px;
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}
.text__right::after{
    display: inline-block;
    content: "";
    background-image: url(../images/Arrow.svg);
    width: 16px;
    height: 12px;
}
.supplies{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 70px 33px;
    margin-bottom: 90px;
}
.supplies_div{
    position: relative;
    width: 258px;
    overflow: hidden;
    border-top: 1px solid transparent;
}
.supplies_card{
    text-decoration: none;
}
.supplies_div_card{
    width: 258px;
    height: 300px;
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.supplies a{
    text-decoration: none;
}
.supplies ul{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 27px;
    bottom: -40px;
    left: 0;
    transition: 0.5s;
}
.supplies li{
    list-style: none;
}
.name{
    display: block;
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    padding-top: 12px;
}
.price{
    display: block;
    font-family: 'Cera Pro';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
    padding-top: 6px;
}
.supplies_div:hover{
    border-top: #46A358 solid 1px;
}
.supplies_div:hover ul{
    bottom: 60px;
}
.supplies_div ul li:first-of-type a::after{
    display: block;
    content: "";
    background-image: url(../images/cart.svg);
    width: 20px;
    height: 20px;
}
.supplies_div ul li:nth-last-of-type(2) a::after{
    display: block;
    content: "";
    background-image: url(../images/heart.svg);
    width: 20px;
    height: 20px;
}
.supplies_div ul li:last-of-type a::after{
    display: block;
    content: "";
    background-image: url(../images/magn_glass.svg);
    width: 20px;
    height: 20px;
}
.supplies_div ul li:first-of-type:hover a::after{
    background-image: url(../images/cart_hover.svg);
}
.supplies_div ul li:nth-last-of-type(2):hover a::after{
    background-image: url(../images/heart_hover.svg)
}
.supplies_div ul li:last-of-type:hover a::after{
    background-image: url(../images/magn_glass_hover.svg)
}
.off{
    background-color: #46A358;
    padding: 8px;
    position: absolute;
    top: 14px;
    left: 0;
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}
.price_off{
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    color: #a5a5a5;
    text-decoration: line-through;
    margin-left: 16px;
}
.numbers{
    display: flex;
    justify-content: flex-end;
}
.numbers ul{
    display: flex;
    gap: 10px;
}
.numbers li{
    font-family: 'Cera Pro';
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    list-style: none;
}
.numbers a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    text-decoration: none;
    transition: 0.3s;
}
.numbers__link:hover{
    font-family: 'Cera Pro';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    background-color: #46A358;
}
.numbers__link:hover svg path{
    stroke: white;
}
.blog_find_more{
    display: flex;
    justify-content: space-between;
    gap: 28px;
    margin-bottom: 138px;
}
.blog{
    max-width: 586px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbfbfb;
}
.find__more{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 30px;
}
.find__more h3{
    font-family: 'Cera Pro';
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
}
.find__more p{
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
}
.blog a{
    display: inline-block;
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    background-color: #46a358; 
    border-radius: 6px; 
    text-align: center;
    text-decoration: none;
    padding: 11px 28px;
}
.blog a::after{
    display: inline-block;
    content: "";
    background-image: url(../images/Arrow3.svg);
    width: 14px;
    height: 10px;
    background-repeat: no-repeat;
    margin-left: 2px;
}
.our__blog_title{
    font-family: 'Cera Pro';
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
}
.our__blog_text{
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    margin: 15px 0 35px;
}
.article__blogs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
    margin-bottom: 30px;
}
.article{
    max-width: 268px;
    background-color: #fbfbfb;
    padding-bottom: 12px;
}
.article span{
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    padding-left: 15px;
}
.article h2{
    font-family: 'Cera Pro';
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    padding-left: 15px;
}
.article p{
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    max-width: 242px;
    padding: 0 0 9px 15px;
}
.article a{
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    text-decoration: none;
    padding-left: 15px;
}
.article a::after{
    display: inline-block;
    content: "";
    background-image: url(../images/Arrow4.svg);
    width: 16px;
    height: 12px;
    margin-left: 3px;
}
.article a:hover::after{
    background-image: url(../images/Arrow_green.svg);
}
.article a:hover{
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
}
.part_top{
    display: flex;
    background-color: #fbfbfb;
    padding: 24px 25px;
    gap: 61px;
    position: relative;
}
.card_description{
    width: 204px;
}
.card_description img{
    margin-bottom: 15px;
}
.card_description h3{
    font-family: 'Cera Pro';
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    margin-bottom: 9px;
}
.card_description p{
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
}
.part_top::before{
    content: "";
    position: absolute;
    left: 158px;
    top: 125px;
    width: 187px;
    height: 1px;
    background: rgba(70, 163, 88, 0.1);
    transform: rotate(90deg);
}
.part_top::after{
    content: "";
    position: absolute;
    left: 423px;
    top: 125px;
    width: 187px;
    height: 1px;
    background: rgba(70, 163, 88, 0.1);
    transform: rotate(90deg);
}
.form_input{
    max-width: 354px;
}
.form_input h3{
    font-family: 'Cera Pro';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 25px;
}
.footer_input{
    display: flex;
    width: 100%;
    margin-bottom: 18px;
}
.footer_input input{
    flex: 1;
    padding: 12px 14px;
    border: none;
    font-size: 14px;
    font-family: 'Cera Pro';
    border-radius: 6px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
}
.footer_input input::placeholder{
    color: #acacac;
}
.footer_input button{
    padding: 12px 26px;
    background-color: #46A358;
    color: #FFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    font-family: 'Cera Pro';
    border: none;
    border-radius: 0 6px 6px 0;
}
.form_input p{
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #727272;
}
.gradient{
    display: flex;
    align-items: center;
    gap: 155px;
    width: 100%;
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
    padding: 25px 22px 19px;
    position: relative;
}
.icon-info{
    display: flex;
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
    gap: 10px;
}
.icon-info:first-of-type:before{
    display: inline-block;
    content: "";
    background-image: url(../images/address.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    left: 300px;
    bottom: 33px;
}
.icon-info:nth-last-of-type(2)::before{
    display: inline-block;
    content: "";
    background-image: url(../images/mail.svg);
    width: 20px;
    height: 20px;
}
.icon-info:last-of-type:before{
    display: inline-block;
    content: "";
    background-image: url(../images/call.svg);
    width: 20px;
    height: 20px;
}

.part_bottom{
    display: flex;
    gap: 150px;
    background-color: #fbfbfb;
    padding: 33px 0 29px 25px;
    margin-bottom: 6px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.2);;
}
.part_bottom h3{
    font-family: 'Cera Pro';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}
.footer_categories h3{
    margin-bottom: 8px;
}
.part_bottom li{
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    list-style: none;
}
.part_bottom a{
    text-decoration: none;
    color: #3d3d3d;
}
.social{
    margin-bottom: 33px;
}
.social h3{
    margin-bottom: 20px;
}
.social ul{
    display: flex;
    gap: 10px;
}
.social li{
    list-style: none;
}
.social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(70, 163, 88, 0.2);
    border-radius: 4px;
    width: 30px;
    height: 30px;
    text-decoration: none;
}
.pay h3{
    margin-bottom: 13px;
}
.copyright{
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    text-align: center;
}